<nav class="uk-navbar-container navbar" uk-navbar="mode: click">

    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle side-icon" uk-navbar-toggle-icon href="#"></a>

        <a class="uk-navbar-item uk-logo" href="#">
            <app-all-svgs svgId="nav-logo" style="width: 70px;"></app-all-svgs>
        </a>

        <ul class="uk-navbar-nav first-nav">

            <li>
                <a href="#">Website</a>
                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-4">
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-3" uk-grid>
                        <div>
                            <div class="nav-drop">
                                <p class="nav-heading">Website</p>
                                <p class="nav-details">Create website for your businesses. we manage your run</p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">CMS Website</p>
                                <p class="nav-details">Easily modify & Manage your website with advanced Content Management Systems. </p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">Custom Design</p>
                                <p class="nav-details">Build your unique presense onine by designing out standing custom website</p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">Blogs</p>
                                <p class="nav-details">For those of you who want to be anything but casual when it comes to blogging</p>
                            </div>
                        </div>
                        <div>
                            <div class="nav-drop">
                                <p class="nav-heading">Portfolio</p>
                                <p class="nav-details"> Trusted by creative pros around the world. we offer easy and fast tool to manage your portfolio.</p>
                            </div>
                        </div>
                        <div>
                            <div class="nav-drop partner-drop">
                                <p class="nav-heading">Search Domain</p>
                            </div>
                            <div class="nav-drop partner-drop">
                                <p class="nav-heading">Web Hosting</p>
                            </div>
                            <div class="nav-drop partner-drop">
                                <p class="nav-heading">Wix</p>
                            </div>
                            <div class="nav-drop partner-drop">
                                <p class="nav-heading">Wordpress</p>
                            </div>
                            <div class="nav-drop partner-drop">
                                <span class="material-icons-outlined uk-float-right">
                                east
                                </span>
                                <p class="nav-heading">Become a partner</p>
                                <p class="nav-details">Gain benefits of custom solutions with XCS.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li><a href="#">E-Commerce</a>
                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-4">
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-3" uk-grid>

                        <div>
                            <div class="nav-drop">
                                <p class="nav-heading">Online Store</p>
                                <p class="nav-details">Sell your products to customers from everywhere</p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">Online Services</p>
                                <p class="nav-details">Sell your services to a potential client and get paid online.</p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">Booking & Appointment</p>
                                <p class="nav-details">Customers can check your availability online and book with you. </p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">Restaurants</p>
                                <p class="nav-details">Receive Orders Directly from Your Website
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nav-drop">
                                <p class="nav-heading">Grocery</p>
                                <p class="nav-details"> grocery industry has been the boom in online ordering</p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">Sell Courses</p>
                                <p class="nav-details"> Digital learning has made learning interesting and fun for students</p>
                            </div>
                        </div>
                        <div>
                            <div class="nav-drop">
                                <p class="nav-heading">Shopify</p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">WooCommerce</p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">WIX</p>
                            </div>
                            <div class="nav-drop partner-drop">
                                <span class="material-icons-outlined uk-float-right">
                      east
                      </span>
                                <p class="nav-heading">Become a partner</p>

                                <p class="nav-details">Gain benefits of custom solutions with XCS.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li><a href="#">Branding & Marketing</a>
                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-3">
                    <div class="uk-navbar-dropdown-grid uk-child-width-1-2" uk-grid>
                        <div>
                            <div class="nav-drop">
                                <p class="nav-heading">Logo Design</p>
                                <p class="nav-details">We are creating Logo designs as per the client nature of business</p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">Social Media Post</p>
                                <p class="nav-details">We create social media post that is eye-cateching for your followers</p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">Flyers & Banners</p>
                                <p class="nav-details">We Create beautiful Flyers & Banners that attractcs customers </p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">Package & Product Design</p>
                                <p class="nav-details">Give your product a perfect and professional product package design.
                                </p>
                            </div>
                        </div>
                        <div>
                            <div class="nav-drop">
                                <p class="nav-heading">SEO</p>
                                <p class="nav-details">SEO Packages That Boost Your Organic Rankings, Traffic & Sales!
                                </p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">Social Media Marketing</p>
                                <p class="nav-details">Social Media Marketing Solution Perfect For Your Brand</p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">Digital Advertising</p>
                                <p class="nav-details">Put your ads on famous website that bring immense leads</p>
                            </div>
                            <div class="nav-drop">
                                <p class="nav-heading">Google Ads</p>
                                <p class="nav-details">We help your business to found on top of google</p>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
        <ul class="uk-navbar-nav ">

            <li>
                <a href="#">Pricing</a>
            </li>
            <li><a href="#">Consulting <span class="material-icons-outlined consulting-link">
              north_east
              </span></a></li>
        </ul>

    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#"><span class="material-icons-outlined lang-icon">
              language
              </span></a></li>
        </ul>
        <div class="uk-navbar-item">
            <button class="uk-button support-btn">Contact Us</button>
        </div>

    </div>

</nav>
